#success-card {
  font-family: 'Nunito Sans';
  display: flex;
  margin-top: 20vh;
  color: #495057;
}

#success-tanuki {
  height: 100px;
}

#success-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

