<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-4 align-items-center">
      <h1>Welcome</h1>
      <%= image_tag "logo.png" %>
      <p>Under Construction</p>
      <h4>(You are in tasks#index)</h4>
    </div>
</div>
