.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: white;
  width: 100vw;
  transition: 0.1s background-color ease;
  border-bottom: 1px solid rgba(230,230,230,1);
  visibility: hidden;
}

.nav-other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100vw;
  border-bottom: 1px solid rgba(230,230,230,1);
}

.nav-opaque {
  visibility: visible;
}

.nav-brand {
  margin-left: 5vw;
}
.nav-brand img {
  width: 200px;
  margin: 5px 0px;
}

.nav-controls {
  display: flex;
  margin-right: 5vw;
}

#navbar-btn {
  background-color: transparent;
  border: none;
  color: #2CC185;
}

#navbar-btn:hover {
  color: white;
}

#navbar-btn:active {
  color: #323232;
}

#navbar-btn-log {
  background-color: transparent;
  color: #2CC185;
}

#navbar-btn-log:hover {
  border: white;
  color: #2CC185;
}
