.navbar {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #c9c9c9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

#navbar-btn {
  background-color: white;
  border: none;
  color: #2CC185;
}

#navbar-btn:hover {
  color: #323232;
}

#navbar-btn:active {
  color: #323232;
}

.dropdown-item {

}

#navbar-btn-log {
  background-color: white;
  color: #2CC185;
}
